{% extends 'base.html' %}
{% block title %}Authentication |{% endblock %}
{% block content %}
<style>

.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #0065ff;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}


.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}


</style>
<div class="todo-container" style='margin-top:80px'>

    	<div class="row">
			<div class="col-md-offset-3 ">
				<div class="panel panel-login ">
					<div class="panel-heading" style="padding: 10px 0;border-radius: 15px 15px 0 0;border-bottom: 2px solid #635b5b;background: #ececec;">
						<div class="row p-2">
							<div class="col-sm">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-sm">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
					
					</div>
					<div class="panel-body " style="display: block;background: white;padding: 40px;border-radius: 0 0 20px 20px;">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="" method="post" role="form" style="display: block;">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i class="far fa-user"></i></span>
                                        <input type="text" name='username' class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                        <input type="password" name='password' class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                                    </div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-primary" value="Login">
											</div>
										</div>
									</div>

								</form> 
								<form id="register-form" action="" method="post" role="form" style="display: none;">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i class="far fa-user"></i></span>
                                        <input type="text" name='username'  class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                        <input type="password" name='password' id='rpass1' class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                                    </div>                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                                        <input type="password" name='password2' id='rpass2' class="form-control" placeholder="Confirm Password" aria-label="Confirm-Password" aria-describedby="basic-addon1">
                                        <span class="input-group-text" id="basic-addon1"><span id='message'></span></span>
                                    </div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-info" value="Register Now">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}    
{% block scripts %}
<script>
$(function() {

    $('#login-form-link').click(function(e) {
		$("#login-form").delay(100).fadeIn(100);
 		$("#register-form").fadeOut(100);
		$('#register-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});
	$('#register-form-link').click(function(e) {
		$("#register-form").delay(100).fadeIn(100);
 		$("#login-form").fadeOut(100);
		$('#login-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});

});

$('#rpass1, #rpass2').on('keyup', function () {
  if ($('#rpass1').val() == $('#rpass2').val()) {
    $('#message').html('Matching').css('color', 'green');
  } else 
    $('#message').html('Not Matching').css('color', 'red');
});
</script>
{% endblock %}